@font-face {
    font-family: "SFProText-Regular";
    src: url("font/SFProText-Regular.otf") format("otf");
    src: url("font/SFProText-Regular.eot") format("eot");
    src: url("font/SFProText-Regular.woff") format("woff");
    src: url("font/SFProText-Regular.woff2") format("woff2");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

html, body{
    height: 100%;
}

button{
    border: 0;
}

.container{
    max-width: 375px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    width: 375px;
    height: 812px;
    background: #17171C;
    border: 1px solid #000000;
    border-radius: 30px;
}

.header{
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.header__img{
    width: 164px;
    height: 31px;
    position: relative;
    z-index: 0;
    left: 98.5px;
}

.header__tg{
    display: flex;
    align-items: center;
    gap: 224px;
    position: relative;
    z-index: 1;
    right: 150px;
}

.header__tg--time{
    width: 54px;
    height: 21px;
}

.header__tg--time p{
    font-family: 'SFProText-Regular', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF; 
}

.header__tg--group{
    width: 66.66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.under-header{
    width: 72px;
    height: 32px;
    background: #2E2F38;
    border-radius: 16px;
    margin: 16px auto;
    margin-bottom: 0;
}

.under-header__up{
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    top: 4px;
}

.up__button{
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: #4E505F;
    border-radius: 99px;
    position: relative;
    z-index: 1;
    left: 4px;
}

.up__moon{
    z-index: 0;
}

.under-header__sun{
    position: relative;
    top: -18px; 
    left: 10px;
    z-index: 0;
    opacity: 0;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 55px auto;
    margin-bottom: 0;
    max-width: 335px;
}

.main__input{
    height: 96px;
}

.main__input p{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 96px;
    text-align: right;
    color: #FFFFFF;
}

.main__result{
    height: 47px;
}
.main__result p{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.4;
}

.main__buttons{
    height: 424px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gray{
    background: #4E505F;
}
.b-gray{
    background: #2E2F38;
}
.blue{
    background: #4B5EFC;
}

.g1-button{
    display: flex;
    align-items: center;
    gap: 16px;
}

.button{
    width: 71.75px;
    height: 72px;
    border-radius: 24px;
    cursor: pointer;
}

.button_p{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.footer{
    width: 134px;
    height: 5px;
    background: #FFFFFF;
    border-radius: 100px;
    margin: 53px auto;
}
